<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<style>
body {
    font-family: Arial;
    background:#f4f6f9;
    padding:20px;
}

.card {
    background:white;
    padding:20px;
    margin:20px;
    display:inline-block;
    width:250px;
    text-align:center;
    border-radius:8px;
    box-shadow:0 0 8px #ccc;
}

a {
    text-decoration:none;
    color:#007bff;
}
</style>

</head>
<body>

<h2>Dashboard</h2>

<div class="card">
<a href="/program">CUTTING PROGRAM SHEET</a>
</div>

<div class="card">
<a href="/report">CUTTING PROGRAM REPORT</a>
</div>

<div class="card">
<a href="/master">MASTER</a>
</div>

<br><br>
<a href="/logout">Logout</a>

</body>
</html>