<h2>MASTER</h2>

<h3>Add Master</h3>

<form method="POST">
<select name="type">
<option value="fabric_master">Fabric</option>
<option value="size_master">Size</option>
<option value="colour_master">Colour</option>
</select>

<input name="name">
<button>Add</button>
</form>

<hr>

<h3>CODE MASTER</h3>

<form method="POST" action="/add_code">

Code: <input name="code"><br><br>

Fabric: <input name="fabric"><br><br>

GSM: <input name="gsm"><br><br>

DIA: <input name="dia"><br><br>

Type: <input name="ptype"><br><br>

Sizes (S,M,L): <input name="sizes"><br><br>

Colours (RED,BLUE): <input name="colours"><br><br>

<button>Add Code</button>

</form>