<h2>MASTER</h2>

<h3>Fabric</h3>
<form method="POST" action="/add_fabric">
<input name="fabric" placeholder="Fabric">
<input name="gsm" placeholder="GSM">
<input name="dia" placeholder="DIA">
<button>Add</button>
</form>

<h3>Type</h3>
<form method="POST" action="/add_type">
<input name="type">
<button>Add</button>
</form>

<h3>Color</h3>
<form method="POST" action="/add_color">
<input name="color">
<button>Add</button>
</form>

<h3>Size</h3>
<form method="POST" action="/add_size">
<input name="size">
<button>Add</button>
</form>