<!DOCTYPE html>
<html>
<head>
<title>Master</title>

<style>
body { font-family: Arial; background:#f4f6f9; padding:20px;}
input, select { padding:8px; margin:5px;}
button { background:#007bff; color:white; padding:8px;}
</style>

</head>
<body>

<h2>Master</h2>

<h3>Add Master</h3>

<form method="POST">
<select name="type">
<option value="fabric_master">Fabric</option>
<option value="size_master">Size</option>
<option value="colour_master">Colour</option>
</select>

<input name="name">
<button>Add</button>
</form>

<hr>

<h3>Code Master</h3>

<form method="POST" action="/add_code">

Code: <input name="code"><br>
Fabric: <input name="fabric"><br>
GSM: <input name="gsm"><br>
DIA: <input name="dia"><br>
Type: <input name="ptype"><br>
Sizes: <input name="sizes"><br>
Colours: <input name="colours"><br>

<button>Add Code</button>

</form>

</body>
</html>