<!DOCTYPE html>
<html>
<head>
    <title>Program Sheet</title>
</head>
<body>

<h2>PROGRAM SHEET</h2>

<form method="POST">

Fabric: <input name="fabric" required><br><br>
DIA: <input name="dia" required><br><br>
Type: <input name="ptype" required><br><br>
Code: <input name="code" required><br><br>
Colour: <input name="colour" required><br><br>
Size: <input name="size" required><br><br>
Ratio: <input name="ratio" required><br><br>
Roll: <input name="roll" required><br><br>

<button>Save</button>

</form>

<hr>

<table border="1">
<tr>
<th>ID</th>
<th>Program</th>
<th>Fabric</th>
<th>Colour</th>
<th>Status</th>
<th>Date</th>
<th>Action</th>
</tr>

{% for row in data %}
<tr>
<td>{{row[0]}}</td>
<td>{{row[1]}}</td>
<td>{{row[2]}}</td>
<td>{{row[6]}}</td>
<td>{{row[10]}}</td>
<td>{{row[11]}}</td>

<td>
<a href="/delete/{{row[0]}}" onclick="return confirm('Delete this record?')">Delete</a>
</td>

</tr>
{% endfor %}
</table>

</body>
</html>